* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
    text-align: justify;
    color: cornsilk;
    font-size: 16px;
    background-image: url("../images/background.jpeg");
}

#main {
    padding: 8px;
}

#header {
    padding: 3px;
    margin: 5px 0 5px 0;
    text-align: center;
    font-size: 15px;
}

.flash {
    font-size: 20px;
    margin: 5px 0 5px 5px;
    padding: 10px;
    border-style: groove;
    border-color: crimson;
    width: 425px;
}

#column-1 {
    width: auto;
    padding: 3px;
    margin: 10px 5px 5px 5px;
    float: left;
}

#column-2 {
    width: auto;
    padding: 3px;
    margin: 10px 5px 5px 5px;
    float: left;
}

#column-3 {
    width: auto;
    padding: 3px;
    margin: 10px 5px 5px 5px;
    float: left;
}

.training-set {
    margin: 8px 0 0 0;
}

#upload-form {
    padding: 5px;
    width: 420px;
}

input[type="file"] {
    margin: 10px 0 0 0;
    font-size: 14px;
}

.button {
    background-color: darkgrey;
    border: none;
    color: #000000;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    width: 100px;
}

.image {
    width: 950px;
    height: 765px;
}

.text-area {
    font-size: 16px;
    background-color: papayawhip;
}
