<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="30">
    <meta charset="UTF-8">
    <title>Geometric Shapes Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header id="header">
        <h1>Geometric figures detection<br>with decision tree learning</h1>
    </header>
    <hr>
    <main id="main">
        <section id="errors">
            <ul>
            {% for message in get_flashed_messages() %}
                <li class="flash">{{ message }}</li>
            {% endfor %}
            </ul>
        </section>
        <div id="column-1">
            <section>
                <form id="upload-form" action="/" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <span>You can upload one of the exemplary images from "examples" catalog or default one will be used.
                              You can also draw your own geometric figure using <a href="https://jspaint.app/#local:c988034c1fd49" target="_blank" style="color: white">JSPaint</a>.
                        </span>
                        <div class="custom-file">
                            <input type="file" id="image" name="image">
                        </div><br>
                        <span>Upload one of the exemplary training set files or default one will be used.</span>
                        <div class="custom-file">
                            <input type="file" id="training-set" name="training-set">
                        </div><br>
                        You can play with the training set to check how it affects the performance of the geometric figures detection.
                        You can find useful details in README.md in "Usage examples" section.<br><br>
                        <span>Training set</span>
                        <div class="training-set">
                            <textarea id="training-set" class="text-area" name="training-set" rows="21" cols="32">{% if training_set %}{% for row in training_set %}{{ row }}&#10;{% endfor %}{% else %}Put your training set here...{% endif %}</textarea>
                        </div><br>
                    </div><br/>
                    <button type="submit" class="button">Run</button><br><br>
                </form>
            </section>
        </div>
        <div id="column-2">
            <secion>
            {% if image %}
                <img class="image" src="data:image/png;base64,{{ image }}" alt="classified image">
            {% else %}
                <img class="image" src="{{ url_for('static', filename='images/geometric-figures.png') }}"/>
            {% endif %}
            </secion>
        </div>
        <div id="column-3">
            <section>
                <textarea readonly class="text-area" name="decision-tree" rows="40" cols="45">{% if decision_tree %}{% for row in decision_tree %}{{ row }}&#10;{% endfor %}{% else %}Decision tree will be displayed here...{% endif %}</textarea>
            </section>
        </div>
    </main>
</body>
</html>